<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <h3>summary</h3><br />
    Joel brings 8 years of experience leveraging data & analytics to drive business growth and improve operational inefficiencies. Joel has led teams of engineers & designers, built Executive level reporting solutions and developed algorithms to improve marketing and sales effectiveness - one classification model significantly reduced customer churn likelihood, increasing average revenue per sales representative by ~$400k. More recently he managed the DLT project at Lululemon – a five month, 250k budget logistics reporting solution, optimized marketing campaign spend by channel for Funko, built a recommendation engine for Pursuit and developed data governance policies and procedures for Bluetooth SIG.<br />
    <br />
    <h3>core tech</h3><br />
    Programming / Scripting: Python, R, SQL, DAX, MDX<br />
    Tools: SSIS / SSRS / SSAS, Power BI<br />
    Project Delivery: Jira, Confluence, Git/GitLab/Bitbucket<br />
    
</div>
