<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <h4>Summary</h4><br />
    Joel brings  <b>8 years of experience leveraging data & analytics</b> to drive business growth and improve operational inefficiencies. Joel has led teams of engineers & designers, built Executive level reporting solutions and developed algorithms to improve marketing and sales effectiveness - <b>one classification model significantly reduced customer churn likelihood, increasing average revenue per sales representative by ~$400k</b>. More recently he managed the DLT project at Lululemon – a five month, 250k budget logistics reporting solution, optimized marketing campaign spend by channel for Funko, built a recommendation engine for Pursuit and developed data governance policies and procedures for Bluetooth SIG.<br />
    <br />
    <h4>Core Tech</h4><br />
    <b>Programming / Scripting:</b> Python, R, SQL, DAX, MDX<br />
    <b>Tools:</b> SSIS / SSRS / SSAS, Power BI<br />
    <b>Project Delivery:</b> Jira, Confluence, Git/GitLab/Bitbucket<br />
    
</div>
