<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
<h4>Summary</h4><br />
Joel brings  <b>9 years of experience leveraging data & analytics</b> to drive business growth and improve operational inefficiencies. Joel has led teams of engineers & designers, built Executive level reporting solutions and developed algorithms to improve marketing and sales effectiveness - <b>one classification model significantly reduced customer churn likelihood, increasing average revenue per sales representative by ~$400k</b>. More recently he managed the DLT project at Lululemon – a five month, 250k budget logistics reporting solution, optimized marketing campaign spend by channel for Funko, built a recommendation engine for Pursuit and developed data governance policies and procedures for Bluetooth SIG.<br />
<br />
<h4>Core Tech</h4>
<br />
<b>Programming / Scripting:</b><br />
<ul>
    <li>Python: pandas, numpy, pandapy, glob, scikit, hpf, seaborn, matplotlib, etc.</li>
    <li>SQL, MySQL, PostgreSQL</li>
    <li>DAX, Power Query, MDX</li>
    <li>R: limited working knowledge. efforts of late have been focused on deepening python understanding</li>
</ul>   
<b>Tools:</b><br />
<ul>
    <li>Azure Suite: cosmos, cognitive services, machine learning studio, functions, devops, catalog, data lake storage, blob, etc.  </li>
    <li>AWS Suite: sagemaker, glue, s3, redshift, ec2</li>
    <li>Model Management: databricks, ml flow</li>
    <li>Report Development: power bi, tableau</li>
</ul>   
<b>Project Delivery:</b><br />
<ul>
    <li>Jira, Confluence, Git/GitLab/Bitbucket, Airtable, Smartsheets, et al </li>
</ul>   
<b>Primary Industries:</b><br />
<ul>
    <li>Retail: sales / demand forecasting, recommendation engine development, supply / inventory management, cltv prediction, customer segmentation</li>
    <li>Finance: risk assessment, timeseries forecasting, dynamic portfolio management, valuation modeling</li>
    <li>Logistics: route optimization, pricing strategy, resource strategy</li>
    <li>Marketing: cac optimization, content strategy</li>
</ul>   

</div>
